.toggle{
    margin: 10px;
    background-color: rgb(76, 76, 243);
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.resources{
    border: 2px solid gray !important;
    border-radius: 5px !important;
}

.pdfcontainer{
    margin-left: 5.2rem;
}