.user-type-signup,
.user-icon-signup,
.user-name-signup {
    transition: 0.4s all ease;
}

.user-type-signup:hover .user-icon-signup,
.user-type-signup:hover .user-name-signup {
    color: var(--primary);
}

.user-type-signup:hover .user-icon-signup {
    border: 2px solid var(--primary);
}